<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sinau Vue js</title>
        <link href="styles.css" rel="stylesheet">
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="app">
        	<!-- pelajaran ke 6 : Conditonals  -->
        	<h1>Conditionals</h1>
        	<p>
        		Perbedaan v-if dan v-show terletak pada styling saat inspeks element.<br>
        		- jika v-if ketika kondisi false maka element hilang (dihapus). <br>
        		- sedangkan v-show ketika kondisi false maka element tidak ditampilkan style <i>"display:none"</i>. <br>

        	</p>

        	<button @click="error = !error">Toggle Error</button>
        	<button @click="success = !success">Toggle Success</button>

        	<p v-if="error">Ada error</p>
        	<p v-else-if="success">Hore sukses</p>

        	<p v-show="error">Ada error (v-show)</p>
        	<p v-show="success">hore sukses koplak (v-show)</p>
        	<hr>

        	<!-- pelajaran ke 7 : Looping  -->
        	<h1>Looping</h1>

        	<p>Looping list</p>
        	<ol>
        		<li v-for="character in characters">{{character}}</li>
        	</ol>

        	<p>Looping tanpa index dan menyebutkan key</p>
        	<ul>
        		<li v-for="saint in goldSaints">{{saint.nama}} - {{saint.bintang}}</li>
        	</ul>

        	<p>Looping dengan index dan menyebutkan key</p>
        	<ul>
        		<li v-for="(saint, index) in goldSaints">{{index}}. {{saint.nama}} - {{saint.bintang}}</li>
        	</ul>

        	<p>Looping dengan template</p>

        	<template v-for="(saint, index) in goldSaints">
        		<h4>{{index}}. {{saint.nama}}</h4>
        		<h5>- {{saint.bintang}}</h5>
        	</template>

        	<p>Looping dengan template dengan key val</p>

        	<template v-for="saint in goldSaints">
        		<div v-for="(val, key) in saint">
        			<h5>{{key}} => {{val}}</h5>
        		</div>
        		-----------------------------
        	</template>

        </div>
    </body>
    <script src="condition.js"></script>
</html>