<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sinau Vue js</title>
        <link href="styles.css" rel="stylesheet">
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="app">
            <!-- pelajaran ke 1 : hello world & data binding -->
            <h1>Hello world Data Binding</h1>
            <p>pelajaran pertama {{ greet('siang') }}</p>
            <p>Name : {{ name }}</p>
            <p>Job : {{ job }}</p>
            <p>Website : <a v-bind:href="website">github</a> </p>
            <p> v-bind:value : <input type="text" v-bind:value="name"> </p>
            <p>v-model : <input type="text" v-model="name"></p>
            <div v-html="websiteTag"></div>
            <hr>

            <!-- pelajaran ke 2 : event -->
            <h1>Events</h1>
            <button @click='age++'>Tambah Umur</button>
            <button v-on:click='age--'>Kurang Umur</button>

            <button @click='add(1)'>Tambah 1 tahun</button>
            <button v-on:click='substract(1)'>Kurang 1 tahun</button>

            <button v-on:dblclick='add(10)'>Tambah 10 tahun</button>
            <button v-on:dblclick='substract(10)'>Kurang 10 tahun</button>
            <p>My Age : {{ age }}</p>

            <div id='canvas' @mousemove='updateXY'>{{x}},{{y}}</div>
            <hr>

            <!-- pelajaran ke 3 : 2 way data binding -->
            <h1>2 Way Data Binding</h1>
            <p>Input Nama : <input type="text" v-model="nama"></p>
            <p>Input Jabatan : <input type="text" v-model="jabatan"></p>
            <p>Input keperluan : <input type="text" v-model="keperluan" @keyup.enter="rekap"></p>
            <i>setelah ketik di form keperluan tekan enter</i>

            <p>Nama : {{ nama }}</p>
            <p>Jabatan : {{ jabatan }}</p>
            <p>Keperluan : {{ keperluan }}</p>
            <hr>

            <!-- pelajaran ke 4 : 2 computed properties -->
            <h1>Computed properties</h1>
            <button @click="nilaiA++">Tambah Nilai A</button>
            <button @click="nilaiB++">Tambah Nilai B</button>
            <button @click="nilaiA--">Kurang Nilai A</button>
            <button @click="nilaiB--">Kurang Nilai B</button>
            <p>nilai A = {{nilaiA}}</p>
            <p>nilai B = {{nilaiB}}</p>
            <p>nilai A + umur = {{addAgeA}}</p>
            <p>nilai B + umur = {{addAgeB}}</p>

            <!-- pelajaran ke 5 : dynamic css -->
            <h1>Dynamic css</h1>
            <h2>Contoh 1</h2>
            <div @click="available = !available" v-bind:class="{available:available}">
                <span>Genclik</span>
            </div>

            <h2>Contoh 2</h2>
            <button @click="available = !available">Toggle Available</button>
            <button @click="nearby = !nearby">Toggle Nearby</button>
            <div v-bind:class="compClasses">
                <span>GenclikBed</span>
            </div>
        </div>
    </body>
    <script src="app.js"></script>
</html>